.main-text {
    width: 50%;
}


.book-preview-container {
    width: 50%;
}

.book-preview {
    margin: 10px;
}



.buy-button {
    margin: 20px;;
    width: 180px;
    background-color: lightskyblue;
}