<div class="beau">
  <div class="main-text">
    <h2>Een nieuwe theorie over het universum</h2>
    <p class="text-beginning-of-page">
      Wij worden niet aangetrokken door de aarde, maar er naartoe geduwd.
    </p>
    <p class="text-beginning-of-page">
      In "een Nieuwe Gravitatietheorie" wordt zeer beknopt uiteengezet hoe ons universum mogelijk zou kunnen
      zijn ontstaan en hoe het zou kunnen werken. De conclusies van deze theorie zijn drastisch anders dan de
      bestaande, breed geaccepteerde denkbeelden over het heelal.
    </p>
    <p class="text-beginning-of-page">
        Bekijk de preview hiernaast of bekijk via onderstaande link.
    </p>
    <div>
        <a mat-raised-button class="buy-button"
        href="https://play.google.com/store/books/details/a_New_Theory_of_Gravitation?id=0KRfDwAAQBAJ&hl=en_GB"
        target="_blank">Lees via Google books</a>
    </div>

  </div>

  <div class="macy book-preview-container">
      <div class="book-preview">
        <iframe type="text/html" width="500" height="730" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B07F8XCZWL&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_wa2DDbSKSKQPS" ></iframe>
      </div>
  </div>

</div>
