<div class="beau">
  <div class="macy contact-info-text">
    <div>
      <h2>Contact</h2>
      <p>Bob Hoogenboom</p>
      <p>e-mail: bob@123hb.com</p>        
      <p>Bekijk op <a href="https://www.linkedin.com/in/bobhoogenboom1/">LinkedIn</a>  </p>
      <p>Bekijk op <a href="https://www.facebook.com/bob.hoogenboom.503">Facebook</a>  </p>
    </div>
  </div>
  <div class="macy about-text">
    <h2>Over Bob</h2>
  </div>
  <div class="macy image-bob">
    <img style="object-fit: contain; width: 60%;" src="assets/foto_bob.jpg">
  </div>


</div>
