<div class="macy">
  <h2>De Music in Colour collectie</h2>
</div>

<hr>


<div class="beau">
  <div class="macy painting-details">
    <div class="painting-details-text">
      <h2>Schilderij 01</h2>        
      <p class="text-beginning-of-page">
        Ondergrond:
      </p>
      <p class="text-beginning-of-page">
        Soort verf:
      </p>
      <p class="text-beginning-of-page">
        Afmetingen:
      </p>
    </div>
  </div>
  <div class="macy painting-image-container">
      <img style="object-fit: contain; width: 60%;" src="assets/purple_painting_normal_colour.png">
  </div>
</div>

<hr>

<div class="beau">
  <div class="macy painting-details">
    <div class="painting-details-text">
      <h2>Schilderij 02</h2>        
      <p class="text-beginning-of-page">
        Ondergrond:
      </p>
      <p class="text-beginning-of-page">
        Soort verf:
      </p>
      <p class="text-beginning-of-page">
        Afmetingen:
      </p>
    </div>
  </div>
  <div class="macy painting-image-container">
    <img style="object-fit: contain; width: 90%;" src="assets/bluepainting.png">
  </div>
</div>

<hr>

<div class="beau">
  <div class="macy painting-details">
    <div class="painting-details-text">
      <h2>Schilderij 03</h2>        
      <p class="text-beginning-of-page">
        Ondergrond:
      </p>
      <p class="text-beginning-of-page">
        Soort verf:
      </p>
      <p class="text-beginning-of-page">
        Afmetingen:
      </p>
    </div>
  </div>
  <div class="macy painting-image-container">
      <img style="object-fit: contain; width: 60%;" src="assets/brws-B1.jpg">
  </div>
</div>
