.card-intro {
    margin-top: -15 px;
    margin: 0, -5, 0, 20 px;
}


.card-show-painting {
    background-color: white;
    max-width: 900px;
    display: flex;
    align-items: center;
}


.card-couple {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.paintingsTitle {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
    font-weight: bold;
}







