<div class="beau">
  <div class="macy main-text">
    <div>
      <h2>Kunst die je eindeloos meeneemt</h2>        
      <p class="text-beginning-of-page">
        De <i>Music in Colour</i> collectie bestaat uit composities die een eindeloze 
        variatie aan interpretaties toelaten. Hoe langer je kijkt, hoe meer diepte,
        detail en verhaal je ziet. 
      </p>
      <button mat-button (click)="onViewCollectionClick()" >
        BEKIJK COLLECTIE <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="macy painting-image-container">
    <img style="object-fit: contain; width: 90%;" src="assets/bluepainting.png">
  </div>
</div>

<div class="beau">
  <div class="macy main-text">
    <div>
      <h2>De boom</h2>        
      <p class="text-beginning-of-page">
        De boom in het werk <i>Climate Change</i> is als laatste in het schilderij geplaatst,
        in een verder abstracte wereld.
      </p>
    </div>
  </div>
  <div class="macy painting-image-container">
    <img style="object-fit: contain; width: 90%;" src="assets/climate_change2.png">
  </div>
</div>



