mat-toolbar {
    height: 70px;
    background-color: rgb(9, 25, 59);
    color: white;
}

.buttons-div {
    margin: 30px;
}

.toolbar-button {
    background-color: transparent;
    color: white;
    font-size: 80%;
    margin-right: 16px;
    margin-left: 8px;
}



