<div class="beau">
  <div class="main-text">
      <h2>De Hoogenboom Motor</h2>
      <p class="text-beginning-of-page">
        De Hoogenboom motor is een zuinige motor met een vernieuwend ontwerp dat anders is 
        dan de huidige motoren. De motor is verrassend eenvoudig te produceren, door zijn 
        simpele constructie, maar toch krachtig, efficient en breed inzetbaar.
      </p>    
  </div>


  <div class="macy video-motor">
    <iframe width="420" height="315"  src="https://www.youtube.com/embed/UV9Rj7y5Yvc"></iframe>
  </div>

</div>






