<div>
    <div class="homepage-grid">
        <div class="homepage-grid-row">
            <mat-card>
                <mat-card-title>{{paintingsNavCard.title}}</mat-card-title>
                <img mat-card-image src="assets/bluepainting.png"> 
            </mat-card>
      
            <mat-card>
                <mat-card-title>{{universeNavCard.title}}</mat-card-title>
                    <img mat-card-image class="mat-card-image-home" src="assets/cavia1.jpg" style="height:130px; object-fit: cover; "> 
            </mat-card>
          </div>
      </div>
</div>
<div>
    <button mat-button (click)="onPaintingsClick()">
        schilderijen
    </button>

    <button mat-button (click)="onGravitationClick()">
        gravitatietheorie
    </button>
</div>





