<div class="beau extra-margin">
    <button>
        <div>
            <mat-card class="title-card mat-elevation-z8">
                        <div class="home-welcome">Welkom!</div>
                        <div class="home-intro">Kies een onderwerp om verder te kijken.</div>
                        <div class="home-intro">Veel plezier!</div>

            </mat-card>
        </div>
    </button>

    <button>
        <div>
            <mat-card class="subject-card mat-elevation-z8">
                <div class="square-image-container">
                    <img style="object-fit: cover; width: 100%;" src="assets/motor3.jpg">
                </div>
                <div class="subject-text-container">
                    <div class="home-title">Hoogenboom</div>
                    <div class="home-title">engine</div>
                    <p class="read-more">
                        LEES MEER <mat-icon style="color: gray; font-size: 80%;">arrow_forward_ios</mat-icon>
                    </p>
                </div>
            </mat-card>
        </div>
    </button>
</div>

<div class="beau extra-margin">
        <button>
            <div>
                <mat-card class="subject-card mat-elevation-z8">
                    <div class="square-image-container">
                        <img style="object-fit: cover; height: 100%;" src="assets/coverHeelal2.png">
                    </div>
                    <div class="subject-text-container">
                            <div class="home-title">een Nieuwe</div>
                            <div class="home-title">Gravitatietheorie</div>
                            <p class="read-more">
                                LEES MEER <mat-icon style="color: gray; font-size: 80%;">arrow_forward_ios</mat-icon>
                            </p>
                        </div>
                </mat-card>
            </div>
        </button>

    <button>
        <div>
            <mat-card class="subject-card mat-elevation-z8">
                <div class="square-image-container">
                    <img style="object-fit: cover; width: 100%;" src="assets/brws-B1.jpg">
                </div>
                <div class="subject-text-container">
                        <div class="home-title">Schilderkunst</div>
                        <div class="home-title" style="color: white;">Schilderkunst</div>
                        <p class="read-more">
                            BEKIJK <mat-icon style="color: gray; font-size: 80%;">arrow_forward_ios</mat-icon>
                        </p>
                </div>
            </mat-card>
        </div>
    </button>
</div>



<!--

<div class="beau">
    <div class="macy sixty">
        <p class="home-title page-intro-title">Welkom op de website van Bob Hoogenboom!</p>
        <p class="page-intro-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <div>
            <img class="home-image" src="assets/bluepainting.png">
        </div>
    </div>
    <div class="news">
        <p class="news-title">Nieuws</p>
    </div>
</div>     -->
