
.beau {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.home-title {
    font-weight: normal;
    /* font-style: italic; */
}

.home-image {
    margin-top: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: aliceblue;
    border-radius: 20px;
}

.news-title {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
}