<div>
    <div class="homepage-grid">
        <div class="homepage-grid-row">
            <mat-card>
                <mat-card-title>{{paintingsNavCard.title}}</mat-card-title>
                <img mat-card-image src="assets/bluepainting.png"> 
            </mat-card>
      
            <mat-card>
                <mat-card-title>{{universeNavCard.title}}</mat-card-title>
                <img mat-card-image class="mat-card-image-home" src="assets/bluepainting.png"> 
            </mat-card>
          </div>
      </div>
</div>




