.main-text {
    width: 40%;
}

.home-title {
    font-size: 200%;
    margin-bottom: 5px;;
}

h2 {
    color: black;
}



.subject-card {
    width: 400px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.subject-text-container {
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.square-image-container {
    width: 140px;
    height: 140px;
}


button {
    border-color: white;
    background-color: white;
    border-width: 0;
    margin: 10px;
}

.extra-margin {
    margin-right: 150px;
}

.read-more {
    margin-top: 15px;
    font-size: 100%; 
    color: gray;
}
