
.home-title {
    font-size: 300%;
    margin-bottom: 5px;;
}


.title-card {
    width: 450px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.subject-card {
    width: 500px;
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.subject-text-container {
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.square-image-container {
    width: 180px;
    height: 180px;
}

.gravitation-image-container {
    width: 180px;
    height: 180px;
}

button {
    border-color: white;
    background-color: white;
    border-width: 0;
}

.extra-margin {
    margin-left: 210px;
    margin-right: 210px;
}

.read-more {
    margin-top: 35px;
    font-size: 150%; 
    color: gray;
}
